*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0f7fa;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)),url(../_images/pexels-oleksandr-tiupa-53788-192136.jpg);
    background-size: cover;
    background-position: center;
}
.container{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px 40px;
}
.container:after{
	content: '';
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	background-size: cover;
	filter: blur(25px);
	z-index: -1;
}
.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(9px);
    border-radius: 12px;
}
.left{
	background-size: cover;
    color: #fff;
}
.right{
	padding: 25px 40px;
    justify-content: center;
    align-items: center;
    color: #fff;
}
h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
    color: #fff;
}
h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #38761d;
}
.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
    color: #fff;
    border-radius: 12px;
}
.field::placeholder{
    color: black;
}
.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}
textarea{
	min-height: 150px;
}
.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #38761d;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
    border-radius: 12px;
}
.btn:hover{
    background-color: #4ca027;
}
.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
}
.logo{
    width: 120px;
    cursor: pointer;
}
footer {
    text-align: left;
    margin-top: 135px;
    color: #fff;
}