body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('_images/pexels-oleksandr-tiupa-53788-192136.jpg');
    background-size: cover;
}

.login-container {
    background-color: #1e1e1e;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
}

h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #f5f5f5;
}

label {
    font-size: 0.9rem;
    color: #b0b0b0;
    display: block;
    margin-bottom: 0.5rem;
}

input[type="email"],
input[type="password"] {
    width: 90%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #2c2c2c;
    color: #f5f5f5;
}

input[type="submit"] {
    width: 100%;
    padding: 0.8rem;
    border: none;
    border-radius: 5px;
    background-color: #6200ea;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #3700b3;
}

.login-container a {
    display: block;
    text-align: center;
    color: #bb86fc;
    margin-top: 1rem;
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}