body {
    margin: 0;
    overflow: hidden;
    padding-top: 4%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(../_images/pexels-oleksandr-tiupa-53788-192136.jpg);
    background-size: cover;
}

.backCon{
    width: 55%;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 5%;
}

.backBtn{
    background: #D14B4D;
    width: 100px;
    margin-top: 50px;
    padding: 10px 0;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.login-container {
    background: linear-gradient(rgba(230, 230, 230, 0.192),rgba(230, 230, 230, 0.192));
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
}

h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #f5f5f5;
}

label {
    font-size: 0.9rem;
    color: #b0b0b0;
    display: block;
    margin-bottom: 0.5rem;
}

input[type="email"],
input[type="password"] {
    width: 90%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #2c2c2c;
    color: #f5f5f5;
}

input[type="submit"] {
    width: 100%;
    padding: 0.8rem;
    border: none;
    border-radius: 5px;
    background-color: #89ea00;
    color: #000;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #8cd600;
}

.login-container a {
    display: block;
    text-align: center;
    color: #8cd600;
    margin-top: 1rem;
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}